<!DOCTYPE html>
<html>
  <head>
    <title>Test Status</title>
  </head>
  <body>
    <ul>
      <li>Test User ID: <%= test_id %></li>
      <li>User Count: <%= user_count %></li>
      <li>Follow Count: <%= follow_count %></li>
      <li>Tweet Count: <%= tweet_count %></li>
    </ul>
  </body>
</html>
